HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.db

# Ansible Vault
.vault_pass
.vault_pass.txt

# Ansible roles - ignore all roles except docker_deploy
roles/*
!roles/docker_deploy/
!roles/nginx/
roles/*/
!roles/docker_deploy/**
!roles/nginx/**
!roles/requirements.yml
