- hosts: webservers
  become: true

  roles:
    - role: geerlingguy.docker
      vars:
        docker_edition: 'ce'
        docker_packages_state: present
        docker_users:
          - artem_arkhipov

    - role: docker_deploy

    - role: nginx
