---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/bulletins}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  output:
    ansi:
      enabled: always
  h2:
    console:
      enabled: false

storage:
  s3:
    bucket: ${STORAGE_S3_BUCKET:}
    region: ${STORAGE_S3_REGION:}
    endpoint: ${STORAGE_S3_ENDPOINT:}
    access-key: ${STORAGE_S3_ACCESSKEY:}
    secret-key: ${STORAGE_S3_SECRETKEY:}
    cdn-url: ${STORAGE_S3_CDNURL:}
