---
logging:
  level:
    root: INFO
    org.springframework.boot: INFO
    org.springframework.web: DEBUG
    io.hexlet.project_devops_deploy: DEBUG

spring:
  profiles:
    default: dev
  application:
    name: bulletins
  datasource:
    url: jdbc:h2:mem:bulletins;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password: ""
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console
  output:
    ansi:
      enabled: always

server:
  address: 0.0.0.0
